# Port configuration for the Go backend server
PORT=8080

# JWT signing secret
JWT_SECRET=supersecretkey

# Database Connection Variables (Defaults to mysql/localhost if not provided)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=jaison
DB_NAME=hackathon_db
DB_TLS=false

# Secure Passphrase for AES-256 OTP payload decryption
OTP_ENCRYPTION_KEY=your_secure_passphrase_here
